{% extends 'blog/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block body %}
    <div class="container">

        {#BLURR丶YE#}
        <div class="row">
            <div class="col-md-12">
                <div id="blurry" class="text-center">
                    BLURR丶YE
                </div>
            </div>
        </div>

        {#导航#}
        <div class="row">
            <div class="col-md-12">
                <nav id="navbar" class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">New</a>
                        </div>

                        <div class="navbar-header">
                            <span class="navbar-brand">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        </div>

                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Category</a>
                        </div>

                        <div class="navbar-header">
                            <span class="navbar-brand">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        </div>

                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Mail</a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>

        {#导航条下方的主体部分#}
        <div class="row">

            {#左#}
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521810423278&di=aacc257f72a0f4f762ba04bb4dd0cbe2&imgtype=0&src=http%3A%2F%2Fp4.gexing.com%2FG1%2FM00%2F9D%2FBA%2FrBACE1J94jrDGTMTAABS_00Yi-E359.jpg" alt="眼镜">
                </div>
                <div>
                    <br>
                    <strong>BLURRYE</strong>
                </div>
                <hr>
                <div>
                    shgagiaighaihaihiah
                    <br>
                    这里应该是一些个人简介吧，写些什么呢？以后再写吧！
                </div>
            </div>

            {#中，正文#}
            <div class="col-md-6">

                {{ post.body|safe }}

            </div>

            {#右#}
            <div class="col-md-3">

            </div>
        </div>

    </div>
{% endblock %}