/*blurry*/
#blurry {
    font-size: 500%;
    padding: 30px 0 30px 0;
}

/*导航条居中*/
#navbar {
    display: flex;
}

/*导航条内容*/
#navbar a {
    font-size: 150%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

/*左侧文字*/
#left-content {
    padding-left: 10%;
    padding-right: 10%;
}

/*昵称*/
#nickname {
    padding-top: 10px;
    border-bottom: 2px solid #3c3c3c;
}

/*detail页面，正文描述*/
#post-excerpt {
    padding-bottom: 3em;
}

/*detail页面，正文*/
#post-body {
    border-top: 1em solid #3c3c3c;
}

/*左侧横线（头像下方）*/
#hr-left {
    margin-top: 1px;
    margin-bottom: 1px;
    *margin: 0;
    border: 0;
    color: #333;
    background-color: #333;
    height: 1px
}

/*中间横线（导航下方，简介和正文中间）*/
#hr-middle {
    margin-top: 1px;
    margin-bottom: 1px;
    *margin: 0;
    border: 0;
    color: #333;
    background-color: #333;
    height: 8px
}